/.DS_Store
/.Rhistory
/.Rproj.user
/bayesian_data_analysis.Rproj
/course_assignments_2022
/course_assignments_2023
/course_slides_2022
/course_slides_2023
/manuscripts
/rethinking_package_20200306.pdf
/teaching
/draft